In [1]:
import numpy as np
import pandas as pd

In [2]:
train = pd.read_csv('Train_Dataset.csv')
test = pd.read_csv('Test_Dataset.csv')

C:\Users\Gola\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (1,7,8,16,17,18,19,20,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
C:\Users\Gola\Anaconda3\lib\site-packages\IPython\core\interactiveshell.py:3063: DtypeWarning: Columns (7,8,16,17,18,19,20,34,35) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [3]:
train.isna().sum()/len(train)*100

ID                             0.000000
Client_Income                  2.960051
Car_Owned                      2.938715
Bike_Owned                     2.974002
Active_Loan                    2.983029
House_Own                      3.004366
Child_Count                    2.985491
Credit_Amount                  2.980567
Loan_Annuity                   3.948923
Accompany_Client               1.432839
Client_Income_Type             3.037191
Client_Education               2.991236
Client_Marital_Status          2.850085
Client_Gender                  1.980206
Loan_Contract_Type             2.996159
Client_Housing_Type            3.025702
Population_Region_Relative     3.985852
Age_Days                       2.954307
Employed_Days                  2.994518
Registration_Days              2.965796
ID_Days                        4.897584
Own_House_Age                 65.729221
Mobile_Tag                     0.000000
Homephone_Tag                  0.000000
Workphone_Working              0.000000
Client_Occupation             34.003250
Client_Family_Members          1.977744
Cleint_City_Rating             1.976924
Application_Process_Day        1.992516
Application_Process_Hour       3.006007
Client_Permanent_Match_Tag     0.000000
Client_Contact_Work_Tag        0.000000
Type_Organization              2.961692
Score_Source_1                56.488806
Score_Source_2                 4.666163
Score_Source_3                22.092470
Social_Circle_Default         50.820641
Phone_Change                   3.006828
Credit_Bureau                 15.214680
Default                        0.000000
dtype: float64

In [4]:
test.isna().sum()/len(test)*100

ID                             0.000000
Client_Income                  3.008653
Car_Owned                      2.972806
Bike_Owned                     3.072930
Active_Loan                    3.033375
House_Own                      2.901112
Child_Count                    2.877627
Credit_Amount                  2.826947
Loan_Annuity                   3.959209
Accompany_Client               1.493201
Client_Income_Type             3.091471
Client_Education               2.904821
Client_Marital_Status          3.019778
Client_Gender                  2.011125
Loan_Contract_Type             2.868974
Client_Housing_Type            2.976514
Population_Region_Relative     4.042027
Age_Days                       3.064277
Employed_Days                  2.992583
Registration_Days              2.964153
ID_Days                        4.797281
Own_House_Age                 66.231150
Mobile_Tag                     0.000000
Homephone_Tag                  0.000000
Workphone_Working              0.000000
Client_Occupation             34.419036
Client_Family_Members          2.032138
Cleint_City_Rating             2.016069
Application_Process_Day        1.902349
Application_Process_Hour       2.974042
Client_Permanent_Match_Tag     0.000000
Client_Contact_Work_Tag        0.000000
Type_Organization              3.039555
Score_Source_1                56.233622
Score_Source_2                 4.592089
Score_Source_3                22.271941
Social_Circle_Default         50.791100
Phone_Change                   2.995056
Credit_Bureau                 15.181706
dtype: float64

In [5]:
# Data Preprocesssing

In [6]:
# Filling Null Values

In [7]:
# we will drop those features having null values greater than 30%
missing_train_val_per = train.isna().sum()/len(train)*100
missing_test_val_per = test.isna().sum()/len(train)*100

In [8]:
train.drop(missing_train_val_per[missing_train_val_per > 30].index,1,inplace = True)
test.drop(missing_test_val_per[missing_test_val_per > 30].index,1,inplace = True)

In [9]:
# Now we seoerate features into numerical and categorical

In [10]:
train_num_data = train[['ID','Client_Income','Credit_Amount','Loan_Annuity','Population_Region_Relative','Age_Days',
                      'Employed_Days','Registration_Days','ID_Days','Score_Source_2','Score_Source_3','Phone_Change']]
train_cat_data = train[['Car_Owned','Bike_Owned','Active_Loan','House_Own', 'Child_Count','Accompany_Client', 'Client_Income_Type',
                      'Client_Education','Client_Marital_Status', 'Client_Gender', 'Loan_Contract_Type','Client_Housing_Type','Mobile_Tag',
                      'Homephone_Tag','Workphone_Working', 'Client_Family_Members','Cleint_City_Rating', 'Application_Process_Day',
                      'Application_Process_Hour','Client_Permanent_Match_Tag','Client_Contact_Work_Tag', 'Type_Organization',
                      'Credit_Bureau', 'Default']]

In [11]:
test_num_data = test[['ID','Client_Income','Credit_Amount','Loan_Annuity','Population_Region_Relative','Age_Days',
                      'Employed_Days','Registration_Days','ID_Days','Score_Source_2','Score_Source_3','Phone_Change']]
test_cat_data = test[['Car_Owned','Bike_Owned','Active_Loan','House_Own', 'Child_Count','Accompany_Client', 'Client_Income_Type',
                      'Client_Education','Client_Marital_Status', 'Client_Gender', 'Loan_Contract_Type','Client_Housing_Type','Mobile_Tag',
                      'Homephone_Tag','Workphone_Working', 'Client_Family_Members','Cleint_City_Rating', 'Application_Process_Day',
                      'Application_Process_Hour','Client_Permanent_Match_Tag','Client_Contact_Work_Tag', 'Type_Organization',
                      'Credit_Bureau',]]

In [12]:
train_cat_data.shape,train_num_data.shape,test_cat_data.shape,test_num_data.shape

((121856, 24), (121856, 12), (80900, 23), (80900, 12))

In [13]:
train_num_data.head(2)

,ID,Client_Income,Credit_Amount,Loan_Annuity,Population_Region_Relative,Age_Days,Employed_Days,Registration_Days,ID_Days,Score_Source_2,Score_Source_3,Phone_Change
0,12142509,6750,61190.55,3416.85,0.028663,13957,1062,6123,383,0.478787,NaN,63.0
1,12138936,20250,15282,1826.55,0.008575,14162,4129,7833,21,0.215068,NaN,NaN

In [14]:
train_num_data = train_num_data.replace('$',np.nan)
train_num_data = train_num_data.replace('#VALUE!',np.nan)
train_num_data = train_num_data.replace('@',np.nan)
train_num_data = train_num_data.replace('#',np.nan)
train_num_data = train_num_data.replace('x',np.nan)
train_num_data = train_num_data.replace('&',np.nan)

In [15]:
test_num_data = test_num_data.replace('$',np.nan)
test_num_data = test_num_data.replace('#VALUE!',np.nan)
test_num_data = test_num_data.replace('@',np.nan)
test_num_data = test_num_data.replace('#',np.nan)
test_num_data = test_num_data.replace('x',np.nan)
test_num_data = test_num_data.replace('&',np.nan)

In [16]:
train_num_data.ID = train_num_data.ID.astype('int64')
for i in train_num_data.drop('ID',1):
    train_num_data[i] = train_num_data[i].astype('float64')

In [17]:
test_num_data.ID = test_num_data.ID.astype('int64')
for i in test_num_data.drop('ID',1):
    test_num_data[i] = test_num_data[i].astype('float64')

In [18]:
train_num_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121856 entries, 0 to 121855
Data columns (total 12 columns):
 #   Column                      Non-Null Count   Dtype
---  ------                      --------------   -----
 0   ID                          121856 non-null  int64
 1   Client_Income               118234 non-null  float64
 2   Credit_Amount               118219 non-null  float64
 3   Loan_Annuity                117030 non-null  float64
 4   Population_Region_Relative  116988 non-null  float64
 5   Age_Days                    118239 non-null  float64
 6   Employed_Days               118190 non-null  float64
 7   Registration_Days           118225 non-null  float64
 8   ID_Days                     115871 non-null  float64
 9   Score_Source_2              116170 non-null  float64
 10  Score_Source_3              94934 non-null   float64
 11  Phone_Change                118192 non-null  float64
dtypes: float64(11), int64(1)
memory usage: 11.2 MB

In [19]:
train_num_data.isna().sum()/len(train)*100

ID                             0.000000
Client_Income                  2.972361
Credit_Amount                  2.984670
Loan_Annuity                   3.960412
Population_Region_Relative     3.994879
Age_Days                       2.968258
Employed_Days                  3.008469
Registration_Days              2.979747
ID_Days                        4.911535
Score_Source_2                 4.666163
Score_Source_3                22.093290
Phone_Change                   3.006828
dtype: float64

In [20]:
for i in train_num_data.columns:
    train_num_data[i] = train_num_data[i].fillna(train_num_data[i].mean())

In [21]:
for i in test_num_data.columns:
    test_num_data[i] = test_num_data[i].fillna(test_num_data[i].mean())

In [22]:
train_num_data.isna().sum()/len(train)*100

ID                            0.0
Client_Income                 0.0
Credit_Amount                 0.0
Loan_Annuity                  0.0
Population_Region_Relative    0.0
Age_Days                      0.0
Employed_Days                 0.0
Registration_Days             0.0
ID_Days                       0.0
Score_Source_2                0.0
Score_Source_3                0.0
Phone_Change                  0.0
dtype: float64

In [23]:
test_num_data.isna().sum()/len(test)*100

ID                            0.0
Client_Income                 0.0
Credit_Amount                 0.0
Loan_Annuity                  0.0
Population_Region_Relative    0.0
Age_Days                      0.0
Employed_Days                 0.0
Registration_Days             0.0
ID_Days                       0.0
Score_Source_2                0.0
Score_Source_3                0.0
Phone_Change                  0.0
dtype: float64

In [24]:
train_ID = train_num_data.ID
train_num_data.drop('ID',1,inplace = True)
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
train_num_data_ss = pd.DataFrame(ss.fit_transform(train_num_data))
train_num_data_ss.columns = train_num_data.columns
train_num_data_ss.head(2)

,Client_Income,Credit_Amount,Loan_Annuity,Population_Region_Relative,Age_Days,Employed_Days,Registration_Days,ID_Days,Score_Source_2,Score_Source_3,Phone_Change
0,-0.890004,0.028786,0.485674,0.014954,-0.481376,-0.482901,0.331575,-1.766603,-0.055119,-1.119761e-13,-1.102615e+00
1,0.297819,-1.126327,-0.624694,-0.034613,-0.433714,-0.460492,0.825541,-2.012146,-0.419991,-1.119761e-13,4.182583e-16

In [25]:
test_ID = test_num_data.ID
test_num_data.drop('ID',1,inplace = True)
from sklearn.preprocessing import StandardScaler
ss = StandardScaler()
test_num_data_ss = pd.DataFrame(ss.fit_transform(test_num_data))
test_num_data_ss.columns = test_num_data.columns
test_num_data_ss.head(2)

,Client_Income,Credit_Amount,Loan_Annuity,Population_Region_Relative,Age_Days,Employed_Days,Registration_Days,ID_Days,Score_Source_2,Score_Source_3,Phone_Change
0,-0.466241,1.327768,1.251334,-0.009246,0.932802,-0.476213,-0.769768,0.214337,0.609404,6.911752e-01,-0.300481
1,-0.279459,-0.257188,0.385668,-0.023370,-0.663915,-0.490544,0.571504,0.585651,-0.437897,-1.949276e-15,-0.956615

In [26]:
train_num_data_ss.set_index(train_ID,inplace = True)
train_num_data_ss.reset_index(inplace = True)

In [27]:
train_num_data_ss.shape

(121856, 12)

In [28]:
test_num_data_ss.set_index(test_ID,inplace = True)
test_num_data_ss.reset_index(inplace = True)

In [29]:
# Categorical Data

In [30]:
# Accompany Client

In [31]:
train_cat_data.Accompany_Client.value_counts()

Alone       97409
Relative    15748
Partner      4516
Kids         1334
Others        987
Group         104
##             12
Name: Accompany_Client, dtype: int64

In [32]:
train_cat_data.Accompany_Client.replace({'Group':'Others','##':'Others'},inplace = True)

C:\Users\Gola\Anaconda3\lib\site-packages\pandas\core\generic.py:6746: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._update_inplace(new_data)

In [33]:
train_cat_data.Accompany_Client.value_counts()

Alone       97409
Relative    15748
Partner      4516
Kids         1334
Others       1103
Name: Accompany_Client, dtype: int64

In [34]:
train_cat_data.Accompany_Client.replace({'Alone':0, 'Kids':1, 'Others':2, 'Partner':3, 'Relative':4},inplace = True)

In [35]:
test_cat_data.Accompany_Client.value_counts()

Alone       64786
Relative    10349
Partner      2967
Kids          855
Others        664
Group          67
##              4
Name: Accompany_Client, dtype: int64

In [36]:
test_cat_data.Accompany_Client.replace({'Group':'Others','##':'Others'},inplace = True)

In [37]:
test_cat_data.Accompany_Client.replace({'Alone':0, 'Kids':1, 'Others':2, 'Partner':3, 'Relative':4},inplace = True)

In [38]:
# Client Income Type

In [39]:
train_cat_data.Client_Income_Type.value_counts().index

Index(['Service', 'Commercial', 'Retired', 'Govt Job', 'Student', 'Unemployed',
       'Maternity leave', 'Businessman'],
      dtype='object')

In [40]:
train_cat_data.Client_Income_Type.replace({'Service':0, 'Commercial':1, 'Retired':2, 'Govt Job':3, 'Student':4, 'Unemployed':5,
                                       'Maternity leave':5, 'Businessman':7},inplace = True)

In [41]:
test_cat_data.Client_Income_Type.value_counts().index

Index(['Service', 'Commercial', 'Retired', 'Govt Job', 'Unemployed', 'Student',
       'Businessman'],
      dtype='object')

In [42]:
test_cat_data.Client_Income_Type.replace({'Service':0, 'Commercial':1, 'Retired':2, 'Govt Job':3, 'Student':4, 'Unemployed':5,
                                       'Maternity leave':6, 'Businessman':7},inplace = True)

In [43]:
# Client Education

In [44]:
train_cat_data.Client_Education.value_counts().index

Index(['Secondary', 'Graduation', 'Graduation dropout', 'Junior secondary',
       'Post Grad'],
      dtype='object')

In [45]:
train_cat_data.Client_Education.replace({'Secondary':0, 'Graduation':1, 'Graduation dropout':2, 'Junior secondary':3,
                                           'Post Grad':4},inplace = True)

In [46]:
test_cat_data.Client_Education.value_counts().index

Index(['Secondary', 'Graduation', 'Graduation dropout', 'junior secondary',
       'Post Grad'],
      dtype='object')

In [47]:
test_cat_data.Client_Education.replace({'Secondary':0, 'Graduation':1, 'Graduation dropout':2, 'junior secondary':3,
                                           'Post Grad':4},inplace = True)

In [48]:
# Client Marital Status

In [49]:
train_cat_data.Client_Marital_Status.value_counts().index

Index(['M', 'S', 'D', 'W'], dtype='object')

In [50]:
train_cat_data.Client_Marital_Status.replace({'M':0, 'S':1, 'D':2, 'W':3},inplace = True)

In [51]:
test_cat_data.Client_Marital_Status.value_counts().index

Index(['M', 'S', 'D', 'W', 'Unknown'], dtype='object')

In [52]:
test_cat_data.Client_Marital_Status.replace({'M':0, 'S':1, 'D':2, 'W':3,'Unknown':0},inplace = True)

In [53]:
# Client Gender

In [54]:
train_cat_data.Client_Gender.value_counts().index

Index(['Male', 'Female', 'XNA'], dtype='object')

In [55]:
train_cat_data.Client_Gender.replace({'Male':0, 'Female':1, 'XNA':2},inplace = True)

In [56]:
test_cat_data.Client_Gender.value_counts().index

Index(['Male', 'Female', 'XNA'], dtype='object')

In [57]:
test_cat_data.Client_Gender.replace({'Male':0, 'Female':1, 'XNA':2},inplace = True)

In [58]:
# Loan Contract Type

In [59]:
train_cat_data.Loan_Contract_Type.value_counts().index

Index(['CL', 'RL'], dtype='object')

In [60]:
train_cat_data.Loan_Contract_Type.replace({'CL':0, 'RL':1},inplace = True)

In [61]:
test_cat_data.Loan_Contract_Type.value_counts().index

Index(['CL', 'RL'], dtype='object')

In [62]:
test_cat_data.Loan_Contract_Type.replace({'CL':0, 'RL':1},inplace = True)

In [63]:
# Client Housing Type

In [64]:
train_cat_data.Client_Housing_Type.value_counts().index

Index(['Home', 'Family', 'Municipal', 'Rental', 'Office', 'Shared'], dtype='object')

In [65]:
train_cat_data.Client_Housing_Type.replace({'Home':0, 'Family':1, 'Municipal':2, 'Rental':3, 'Office':4, 'Shared':5},inplace = True)

In [66]:
test_cat_data.Client_Housing_Type.value_counts().index

Index(['Home', 'Family', 'Municipal', 'Rental', 'Office', 'Shared'], dtype='object')

In [67]:
test_cat_data.Client_Housing_Type.replace({'Home':0, 'Family':1, 'Municipal':2, 'Rental':3, 'Office':4, 'Shared':5},inplace = True)

In [68]:
# Client Permanent Match Tag

In [69]:
train_cat_data.Client_Permanent_Match_Tag.value_counts().index

Index(['Yes', 'No'], dtype='object')

In [70]:
train_cat_data.Client_Permanent_Match_Tag.replace({'Yes':0, 'No':1},inplace = True)

In [71]:
test_cat_data.Client_Permanent_Match_Tag.value_counts().index

Index(['Yes', 'No'], dtype='object')

In [72]:
test_cat_data.Client_Permanent_Match_Tag.replace({'Yes':0, 'No':1},inplace = True)

In [73]:
# Client Contract Work Tag

In [74]:
train_cat_data.Client_Contact_Work_Tag.value_counts().index

Index(['Yes', 'No'], dtype='object')

In [75]:
train_cat_data.Client_Contact_Work_Tag.replace({'Yes':0, 'No':1},inplace = True)

In [76]:
test_cat_data.Client_Contact_Work_Tag.value_counts().index

Index(['Yes', 'No'], dtype='object')

In [77]:
test_cat_data.Client_Contact_Work_Tag.replace({'Yes':0, 'No':1},inplace = True)

In [78]:
# Type Organization

In [79]:
train_cat_data.Type_Organization.value_counts().index

Index(['Business Entity Type 3', 'XNA', 'Self-employed', 'Other', 'Medicine',
       'Business Entity Type 2', 'Government', 'School', 'Trade: type 7',
       'Kindergarten', 'Construction', 'Business Entity Type 1',
       'Transport: type 4', 'Trade: type 3', 'Security', 'Industry: type 9',
       'Industry: type 3', 'Housing', 'Military', 'Bank', 'Agriculture',
       'Industry: type 11', 'Police', 'Postal', 'Transport: type 2',
       'Security Ministries', 'Trade: type 2', 'Restaurant', 'Services',
       'University', 'Transport: type 3', 'Industry: type 7',
       'Industry: type 1', 'Hotel', 'Electricity', 'Industry: type 4',
       'Trade: type 6', 'Industry: type 5', 'Telecom', 'Insurance',
       'Emergency', 'Industry: type 2', 'Realtor', 'Industry: type 12',
       'Advertising', 'Trade: type 1', 'Culture', 'Mobile', 'Legal Services',
       'Cleaning', 'Transport: type 1', 'Industry: type 6',
       'Industry: type 10', 'Religion', 'Industry: type 13', 'Trade: type 4',
       'Trade: type 5', 'Industry: type 8'],
      dtype='object')

In [80]:
test_cat_data.Type_Organization.value_counts().index

Index(['Business Entity Type 3', 'XNA', 'Self-employed', 'Other', 'Medicine',
       'Business Entity Type 2', 'Government', 'School', 'Trade: type 7',
       'Kindergarten', 'Construction', 'Business Entity Type 1',
       'Transport: type 4', 'Trade: type 3', 'Industry: type 3', 'Security',
       'Industry: type 9', 'Housing', 'Industry: type 11', 'Military',
       'Police', 'Agriculture', 'Bank', 'Postal', 'Transport: type 2',
       'Security Ministries', 'Restaurant', 'Trade: type 2', 'Services',
       'University', 'Industry: type 7', 'Transport: type 3',
       'Industry: type 4', 'Industry: type 1', 'Electricity', 'Hotel',
       'Trade: type 6', 'Industry: type 5', 'Insurance', 'Telecom',
       'Emergency', 'Industry: type 2', 'Mobile', 'Realtor', 'Advertising',
       'Trade: type 1', 'Culture', 'Legal Services', 'Cleaning',
       'Industry: type 12', 'Transport: type 1', 'Industry: type 6',
       'Industry: type 10', 'Industry: type 13', 'Religion', 'Trade: type 5',
       'Trade: type 4', 'Industry: type 8'],
      dtype='object')

In [81]:
#There are too my levels in this feature, so droping this feature would br right.
train_cat_data.drop('Type_Organization',1,inplace = True)
test_cat_data.drop('Type_Organization',1,inplace = True)

C:\Users\Gola\Anaconda3\lib\site-packages\pandas\core\frame.py:3997: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  errors=errors,

In [82]:
train_cat_data.head(2)

,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Accompany_Client,Client_Income_Type,Client_Education,Client_Marital_Status,Client_Gender,...,Homephone_Tag,Workphone_Working,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Credit_Bureau,Default
0,0.0,0.0,1.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,...,1,0,2.0,2.0,6.0,17.0,0,0,NaN,0
1,1.0,0.0,1.0,NaN,0.0,0.0,0.0,1.0,0.0,0.0,...,0,1,2.0,2.0,3.0,10.0,0,0,NaN,0

In [83]:
test_cat_data.head(2)

,Car_Owned,Bike_Owned,Active_Loan,House_Own,Child_Count,Accompany_Client,Client_Income_Type,Client_Education,Client_Marital_Status,Client_Gender,...,Mobile_Tag,Homephone_Tag,Workphone_Working,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Credit_Bureau
0,0.0,1.0,1.0,1.0,0.0,4.0,0.0,NaN,0.0,0.0,...,1,0,0,NaN,2.0,4.0,16.0,0,0,2.0
1,1.0,1.0,1.0,1.0,3.0,0.0,0.0,0.0,0.0,1.0,...,1,1,0,5.0,3.0,3.0,18.0,1,0,NaN

In [84]:
train_cat_data.isna().sum()/len(train)*100

Car_Owned                      2.938715
Bike_Owned                     2.974002
Active_Loan                    2.983029
House_Own                      3.004366
Child_Count                    2.985491
Accompany_Client               1.432839
Client_Income_Type             3.037191
Client_Education               2.991236
Client_Marital_Status          2.850085
Client_Gender                  1.980206
Loan_Contract_Type             2.996159
Client_Housing_Type            3.025702
Mobile_Tag                     0.000000
Homephone_Tag                  0.000000
Workphone_Working              0.000000
Client_Family_Members          1.977744
Cleint_City_Rating             1.976924
Application_Process_Day        1.992516
Application_Process_Hour       3.006007
Client_Permanent_Match_Tag     0.000000
Client_Contact_Work_Tag        0.000000
Credit_Bureau                 15.214680
Default                        0.000000
dtype: float64

In [85]:
test_cat_data.isna().sum()/len(train)*100

Car_Owned                      1.973641
Bike_Owned                     2.040113
Active_Loan                    2.013852
House_Own                      1.926044
Child_Count                    1.910452
Accompany_Client               0.991334
Client_Income_Type             2.052423
Client_Education               1.928506
Client_Marital_Status          2.004825
Client_Gender                  1.335183
Loan_Contract_Type             1.904707
Client_Housing_Type            1.976103
Mobile_Tag                     0.000000
Homephone_Tag                  0.000000
Workphone_Working              0.000000
Client_Family_Members          1.349133
Cleint_City_Rating             1.338465
Application_Process_Day        1.262966
Application_Process_Hour       1.974462
Client_Permanent_Match_Tag     0.000000
Client_Contact_Work_Tag        0.000000
Credit_Bureau                 10.079110
dtype: float64

In [86]:
#we can fill these values with mode
for i in train_cat_data:
    train_cat_data[i] = train_cat_data[i].fillna(train_cat_data[i].mode()[0])
for i in test_cat_data:
    test_cat_data[i] = test_cat_data[i].fillna(test_cat_data[i].mode()[0])

C:\Users\Gola\Anaconda3\lib\site-packages\ipykernel_launcher.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  This is separate from the ipykernel package so we can avoid doing imports until
C:\Users\Gola\Anaconda3\lib\site-packages\ipykernel_launcher.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """

In [87]:
train_cat_data.isna().sum()/len(train)*100

Car_Owned                     0.0
Bike_Owned                    0.0
Active_Loan                   0.0
House_Own                     0.0
Child_Count                   0.0
Accompany_Client              0.0
Client_Income_Type            0.0
Client_Education              0.0
Client_Marital_Status         0.0
Client_Gender                 0.0
Loan_Contract_Type            0.0
Client_Housing_Type           0.0
Mobile_Tag                    0.0
Homephone_Tag                 0.0
Workphone_Working             0.0
Client_Family_Members         0.0
Cleint_City_Rating            0.0
Application_Process_Day       0.0
Application_Process_Hour      0.0
Client_Permanent_Match_Tag    0.0
Client_Contact_Work_Tag       0.0
Credit_Bureau                 0.0
Default                       0.0
dtype: float64

In [88]:
test_cat_data.isna().sum()/len(test)*100

Car_Owned                     0.0
Bike_Owned                    0.0
Active_Loan                   0.0
House_Own                     0.0
Child_Count                   0.0
Accompany_Client              0.0
Client_Income_Type            0.0
Client_Education              0.0
Client_Marital_Status         0.0
Client_Gender                 0.0
Loan_Contract_Type            0.0
Client_Housing_Type           0.0
Mobile_Tag                    0.0
Homephone_Tag                 0.0
Workphone_Working             0.0
Client_Family_Members         0.0
Cleint_City_Rating            0.0
Application_Process_Day       0.0
Application_Process_Hour      0.0
Client_Permanent_Match_Tag    0.0
Client_Contact_Work_Tag       0.0
Credit_Bureau                 0.0
dtype: float64

In [89]:
All_train_data = pd.concat([train_num_data_ss,train_cat_data],1)
All_train_data.head()

,ID,Client_Income,Credit_Amount,Loan_Annuity,Population_Region_Relative,Age_Days,Employed_Days,Registration_Days,ID_Days,Score_Source_2,...,Homephone_Tag,Workphone_Working,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Credit_Bureau,Default
0,12142509,-0.890004,0.028786,0.485674,0.014954,-0.481376,-0.482901,0.331575,-1.766603,-0.055119,...,1,0,2.0,2.0,6.0,17.0,0,0,0.0,0
1,12138936,0.297819,-1.126327,-0.624694,-0.034613,-0.433714,-0.460492,0.825541,-2.012146,-0.419991,...,0,1,2.0,2.0,3.0,10.0,0,0,0.0,0
2,12181264,0.099848,-0.013062,0.046742,0.000488,0.177300,-0.453382,0.000000,-1.801874,0.047277,...,0,0,2.0,2.0,4.0,10.0,0,0,0.0,0
3,12188929,-0.098122,-0.155398,-0.297302,-0.029725,1.666472,2.177981,0.000000,-1.500710,-0.530519,...,0,0,2.0,3.0,2.0,15.0,0,0,3.0,0
4,12133385,1.485641,1.860466,0.576791,-0.004662,-1.083788,-0.468909,0.156231,0.715961,-0.300847,...,0,0,4.0,1.0,3.0,10.0,0,0,1.0,0

In [90]:
All_test_data = pd.concat([test_num_data_ss,test_cat_data],1)
All_test_data.head()

,ID,Client_Income,Credit_Amount,Loan_Annuity,Population_Region_Relative,Age_Days,Employed_Days,Registration_Days,ID_Days,Score_Source_2,...,Mobile_Tag,Homephone_Tag,Workphone_Working,Client_Family_Members,Cleint_City_Rating,Application_Process_Day,Application_Process_Hour,Client_Permanent_Match_Tag,Client_Contact_Work_Tag,Credit_Bureau
0,12202227,-0.466241,1.327768,1.251334,-0.009246,0.932802,-0.476213,-0.769768,0.214337,0.609404,...,1,0,0,2.0,2.0,4.0,16.0,0,0,2.0
1,12279381,-0.279459,-0.257188,0.385668,-0.023370,-0.663915,-0.490544,0.571504,0.585651,-0.437897,...,1,1,0,5.0,3.0,3.0,18.0,1,0,0.0
2,12222714,1.775141,0.191110,0.472649,0.012857,-0.025740,-0.484963,-1.155088,-0.479415,0.423901,...,1,0,1,2.0,1.0,2.0,19.0,0,0,0.0
3,12265215,0.280886,-0.229465,0.783932,-0.016769,-0.097631,-0.483575,-0.004027,2.117065,-0.721427,...,1,1,1,1.0,2.0,6.0,20.0,1,1,4.0
4,12203970,-0.279459,-0.412501,-0.135580,-0.026449,-0.056451,-0.486736,0.140937,0.417983,0.129327,...,1,0,0,2.0,2.0,1.0,13.0,0,0,1.0

In [91]:
All_train_data.Default.value_counts()

0    112011
1      9845
Name: Default, dtype: int64

In [92]:
# there is a huge class imbalance in data output, so, we have to apply class imbalance technique to take over this issue
#We will not apply undersampling as we do not want to lose any valuable data
#we will apply oversampling technique

In [93]:
class_0 = All_train_data[All_train_data['Default']==0]
class_1 = All_train_data[All_train_data['Default']==1]

In [94]:
class_count_0 , class_count_1 = All_train_data['Default'].value_counts()
All_train_data['Default'].value_counts()

0    112011
1      9845
Name: Default, dtype: int64

In [95]:
class_1_over = class_1.sample(class_count_0 , replace=True,random_state=2)
test_over = pd.concat((class_0 , class_1_over) , axis=0)
test_over = test_over.sample(frac=1)

In [96]:
X = test_over.drop('Default',1)
y = test_over['Default']

In [97]:
print(X.shape , y.shape)

(224022, 34) (224022,)

In [98]:
# Implementing Classification Models

In [99]:
# Logistic Regression

In [100]:
from sklearn.metrics import f1_score

In [101]:
from sklearn.linear_model import LogisticRegression
LR = LogisticRegression()
LR.fit(X,y)
ytrain_pred = LR.predict(X)
test_sample = All_test_data
ypred_LR = LR.predict(test_sample)
F1_score_LR = f1_score(y,ytrain_pred)
F1_score_LR

0.6666666666666666

In [102]:
LR_predict = pd.DataFrame()
LR_predict['ID'] = test_sample.ID
LR_predict['Default_Predict'] = ypred_LR
LR_predict.to_csv('LR.csv')
LR_predict.head(5)

         ID  Default_Predict
0  12202227                1
1  12279381                1
2  12222714                1
3  12265215                1
4  12203970                1

In [103]:
from sklearn.model_selection import KFold , cross_val_score
kf = KFold(shuffle=True , n_splits=5 , random_state=0)
score = cross_val_score(LR , X,y , cv=kf , scoring='f1')
bias_lr = np.mean(1-score)
variance_lr = np.std(score , ddof=1)
print(round(bias_lr,4) , variance_lr)

0.6004 0.3647698076481883

In [104]:
# Naive Bayes

In [105]:
from sklearn.naive_bayes import GaussianNB
NB = GaussianNB()
NB.fit(X, y)
ytrain_pred = NB.predict(X)
test_sample = All_test_data
ypred_NB = NB.predict(test_sample)
F1_score_NB = f1_score(y,ytrain_pred)
F1_score_NB

0.6645771080859169

In [106]:
NB_predict = pd.DataFrame()
NB_predict['ID'] = test_sample.ID
NB_predict['Default_Predict'] = ypred_NB
NB_predict.to_csv('NB.csv')
NB_predict.head(5)

         ID  Default_Predict
0  12202227                0
1  12279381                1
2  12222714                0
3  12265215                0
4  12203970                1

In [107]:
score = cross_val_score(NB , X,y , cv=kf , scoring='f1')
bias_nb = np.mean(1-score)
variance_nb = np.std(score , ddof=1)
print(round(bias_nb,4) , variance_nb)

0.3458 0.03439486391711012

In [108]:
# KNN

In [109]:
from sklearn.neighbors import KNeighborsClassifier
knn = KNeighborsClassifier()
knn.fit(X, y)
ytrain_pred = knn.predict(X)
test_sample = All_test_data
ypred_knn = knn.predict(test_sample)
F1_score_knn = f1_score(y,ytrain_pred)
F1_score_knn

0.9277471730936503

In [110]:
KNN_predict = pd.DataFrame()
KNN_predict['ID'] = test_sample.ID
KNN_predict['Default_Predict'] = ypred_knn
KNN_predict.to_csv('KNN.csv')
KNN_predict.head(5)

         ID  Default_Predict
0  12202227                0
1  12279381                0
2  12222714                0
3  12265215                0
4  12203970                0

In [111]:
score = cross_val_score(knn , X,y , cv=kf , scoring='f1')
bias_knn = np.mean(1-score)
variance_knn = np.std(score , ddof=1)
print(round(bias_knn,4) , variance_knn)

0.1204 0.0005208744614159097

In [113]:
# # Tuned KNN
# from sklearn.model_selection import GridSearchCV
# params = {'n_neighbors':np.arange(1,50) , 'weights':['uniform','distance']}
# GS = GridSearchCV(knn , params ,cv=10 , scoring='f1')
# GS.fit(X , y)

In [114]:
# GS.best_params_

In [115]:
# KNN_tuned = KNeighborsClassifier(n_neighbors=86 , weights='distance' )
# KNN_tuned.fit(X, y)
# ytrain_pred = KNN_tuned.predict(X)
# test_sample = All_test_data
# ypred_knn_tunned = KNN_tuned.predict(test_sample)
# F1_score_knn_tunned = f1_score(y,ytrain_pred)
# F1_score_knn_tunned

In [116]:
# score = cross_val_score(KNN_tuned , X,y , cv=kf , scoring='f1')
# bias_knn_tunned = np.mean(1-score)
# variance_knn_tunned = np.std(score , ddof=1)
# print(round(bias_knn_tunned,4) , variance_knn_tunned)

In [117]:
# Decision Tree
from sklearn.metrics import f1_score
from sklearn.tree import DecisionTreeClassifier
DT = DecisionTreeClassifier(random_state=0)
DT.fit(X, y)
ytrain_pred = DT.predict(X)
test_sample = All_test_data
ypred_DT = DT.predict(test_sample)
F1_score_DT = f1_score(y,ytrain_pred)
F1_score_DT

1.0

In [118]:
DT_predict = pd.DataFrame()
DT_predict['ID'] = test_sample.ID
DT_predict['Default_Predict'] = ypred_DT
DT_predict.to_csv('DT.csv')
DT_predict.head(5)

         ID  Default_Predict
0  12202227                0
1  12279381                0
2  12222714                0
3  12265215                0
4  12203970                0

In [119]:
from sklearn.model_selection import KFold , cross_val_score
kf = KFold(shuffle=True , n_splits=5 , random_state=0)
score = cross_val_score(DT , X, y, cv=kf , scoring='f1')
bias_dt = np.mean(1-score)
variance_dt = np.std(score , ddof=1)
print(bias_dt , variance_dt)

0.039739955147383065 0.0017388374714247619

In [120]:
# # Tunned Decision Tree
# from sklearn.model_selection import GridSearchCV
# params = {'criterion':['gini','entropy'],'max_depth':np.arange(1,50)}
# Grid = GridSearchCV(DT , params , cv=10 , scoring='f1')
# Grid.fit(X,y)

In [121]:
# Grid.best_params_

In [122]:
# DT_tunned = DecisionTreeClassifier(max_depth=31 , criterion='gini')
# DT_tunned.fit(X , y)
# ytrain_pred = DT_tunned.predict(X)
# test_sample = All_test_data
# ypred_DT_tunned = DT_tunned.predict(test_sample)
# F1_score_DT_tunned = f1_score(y,ytrain_pred)
# F1_score_DT_tunned

In [123]:
# score = cross_val_score(DT_tunned , X, y, cv=kf , scoring='f1')
# bias_dt_tunned = np.mean(1-score)
# variance_dt_tunned = np.std(score , ddof=1)
# print(bias_dt_tunned , variance_dt_tunned)

In [124]:
# Random Forest
from sklearn.metrics import f1_score
from sklearn.ensemble import RandomForestClassifier 
RF = RandomForestClassifier(random_state=0)
RF.fit(X, y)
ytrain_pred = RF.predict(X)
test_sample = All_test_data
ypred_RF = RF.predict(test_sample)
F1_score_RF = f1_score(y,ytrain_pred)
F1_score_RF

1.0

In [125]:
RF_predict = pd.DataFrame()
RF_predict['ID'] = test_sample.ID
RF_predict['Default_Predict'] = ypred_RF
RF_predict.to_csv('RF.csv')
RF_predict.head(5)

         ID  Default_Predict
0  12202227                0
1  12279381                0
2  12222714                0
3  12265215                0
4  12203970                0

In [126]:
from sklearn.model_selection import KFold , cross_val_score
kf = KFold(shuffle=True , n_splits=5 , random_state=0)
score = cross_val_score(RF , X, y, cv=kf , scoring='f1')
bias_rf = np.mean(1-score)
variance_rf = np.std(score , ddof=1)
print(bias_rf , variance_rf)

0.0011146453726834649 0.00024292584393410203

In [127]:
# # Tunning Random Forest
# from sklearn.model_selection import GridSearchCV
# params = {'criterion':['gini','entropy'],'max_depth':np.arange(1,25)}
# Grid = GridSearchCV(RF , params , cv=10 , scoring='f1')
# Grid.fit(X,y)

In [128]:
# Grid.best_params_

In [129]:
# RF_tunned = RandomForestClassifier(max_depth=31 , criterion='gini')
# RF_tunned.fit(X , y)
# ytrain_pred = RF_tunned.predict(X)
# test_sample = All_test_data
# ypred_RF_tunned = RF_tunned.predict(test_sample)
# F1_score_RF_tunned = f1_score(y,ytrain_pred)
# F1_score_RF_tunned